
<div class="container">
 <br>
 <div class="jumbotron">
 <h1 class="display-4">Send Message</h1>
 <br>
 <textarea id = "message" class="form-control" placeholder="Your Message Here">
</textarea>
 <br>
 <button id="send" class="btn btn-success">Send</button>
 </div>
 <div id="messages">
 {{#each messages as |message|}}
 {{!-- <h4> {{message.tag.tag_name}} </h4> --}}
    <h4> {{message.user.name}} </h4>
    <p>  {{message.chat_text}} </p>
    <p>  {{message.updatedAt}} </p>

 {{/each}}
</div>
</div>

