<div class="card p-3 dash-card">
  <div class="card-body">
    <h3 class="card-title mb-3">New Project</h3>
    <div class="w-50">
      <a href="#" class="btn btn-primary">Create New Project</a>
    </div>
  </div>
  <hr>
  <h3 class="mb-3 px-3">Past Projects</h3>
  <div class="row px-1 justify-content-start">

    {{#each projects as |project|}}

    <div class="card m-1 col-4 project-cards">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/project/{{id}}" class="btn btn-primary btn-sm mb-1">Join Chat</a><br>
        <a href="/outline/{{id}}" class="btn btn-primary btn-sm">View Outline</a>
      </div>
    </div>

    {{/each}}

  </div>
</div>