<div class="card w-sm-50">
    <div class="card-body">
      <h5 class="card-title">Project</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Create New Project</a>
    </div>
  </div>
  

  {{#each projects as |project|}}

  <div class="card w-sm-50">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      <p class="card-text">{{project.description}}</p>
      <a href="/project/{{project.id}}" class="btn btn-primary">Join Chat</a>
      <a href="/outline/{{project.id}}" class="btn btn-primary">View Outline</a>
    </div>
  </div>

  {{/each}}
  
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Chat</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Join Chat</a>
    </div>
  </div>
  
  <div class="card text-end">
    <div class="card-body">
      <h5 class="card-title">Outline</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">View Outline</a>
    </div>
  </div>  