<div class="login-forms mx-auto col-md-6">
    <div class="login-form">
        <form class="form login-form">
            <h1 class="mt-5 fw-normal login-view">Please sign in</h1>
            <div class="form-floating">
                <input type="email" class="form-input form-control" id="email-login" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-input form-control" id="password-login" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-lg btn-warning mt-3 login-form" type="submit">Sign in</button>
        </form>
    </div>
    <div class="signup">
        <form class="form signup-form">
            <h1 class="mt-5 fw-normal login-view">Please sign up</h1>
            <div class="form-floating">
                <input class="form-input form-control" type="text" id="username-signup" />
                <label for="username-signup">Username</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input class="form-input form-control" type="password" id="password-signup"
                    placeholder="Password" />
                <label for="password-signup">Password</label>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-warning mt-3 signup-form" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>