
<div class="container">
 <br>
 <div class="jumbotron">
 <br>
 <div id="projects">
 {{#each projects as |project|}}
    <h4> {{projectName}} </h4>
    <p>  {{project.user_id}} </p>
 {{/each}}
</div>
</div>