
<div class="container">
 <br>
 <div class="jumbotron">
 <br>
 <div id="projects">

    <h4> {{project.name}} </h4>
    <p>  {{project.description}} </p>

    {{#each message.user_id as |message|}}
      <h4>{{message.chat_text}}</h4>
   {{/each}}

</div>
</div>