
<div class="container">
 <br>
 <div class="jumbotron">
 <br>
 <div id="projects">

    <h4> {{project.name}} </h4>
    <p>  {{project.description}} </p>
    
    {{#each project.messages as |message|}}
      <h4>{{message.user.name}}</h4>
   {{/each}}

</div>
</div>