
<div class="container">
 <br>
 <div class="jumbotron">
 <br>
 <div id="projects">

   <h4> {{project.name}} </h4>
   <p>  {{project.description}} </p>
   

   {{#each project.tags as |tag|}}
     <h5> {{tag.tag_name}} </h5>
     {{/each }}

   {{#each project.messages as |message|}}
   <h5> {{message.chat_text}} </h5>
   {{/each}}

</div>
</div>