body {
	background: url('/assets/bubbleBG.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/* Setup form styles */

.welcome {
	color: white;
	font-size: 2.5rem;
}
/* chat view styles */

.chat-window {
	background-color: white;
	height: 400px;
	overflow-y: auto;
}

.chat-bubble {
	background-color: #c9c9c9;
	padding: 10px;
	padding-left: 40px;
	width: 50%;
	margin: auto;
	border-radius: 100px;
	margin-top: 20px;
}

.message-check {
	float: left;
	top: 10px;
}

.display-4 {
	color: white;
}

/*login view styles  */

.login-view {
	color: white;
}

.checkbox {
	color: white;
}
.form-floating:focus-within {
	z-index: 2;
}
.copyright p {
	color: white;
	font-size: x-large;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #16116300;
	text-align: center;
}

/* Dashboard */
