body {
	background: url('/assets/bubbleBG.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

main {
padding-bottom: 100px;
}

.btn {
	background-color: rgb(110, 0, 144);
	color: white;
}

/* Setup form styles */

.welcome {

  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.project-desc 

/* chat view styles */

.chat-window {
	background-color: white;
	
	overflow-y:scroll;
}

.chat-bubble {
	background-color: rgba(255, 255, 255, 0.848);
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	width:max-content;
	margin: auto;
	border-radius: 100px;
	margin-top: 20px;
	border-color: white;
	border-width: 1;
}



.chat-timestamp {
	font-size:0.75rem;
}

.check-send {
	display: inline-block;
}

.tag-select {
	display: inline-block;
}




.display-4 {
	color: white;
}

/*login view styles  */

.login-view {
	color: white;
}


.form-floating:focus-within {
	z-index: 2;
}

.copyright span {
  color: white;
  font-size: x-large;
  
}
footer {
	position:static;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #16116300;
    text-align: center;
}



/* Dashboard */

.choose-tag {
	color: white
}
.dash-card {
  margin-top: 3rem;
}

.project-cards {
  min-width: fit-content;
  max-width: 150px;
}



.navbar-brand {
  width: 125px;
}


/* Outline View */

.outline-item {
	background-color: rgba(77, 20, 103, 0.56);
	padding: 10px;
	width:max-content;
	color: white;border-radius: 1rem;;

	
	
}

.outline-title {
	color: white;
}

.tag-header {
	background-color: rgba(255, 255, 255, 0.855);
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	width:40%;
	margin: auto;
	
	margin-top: 20px;
	text-align: center;
}

.outline-row {
	justify-content: center;
}

.outline-card-header {
background-color: white;
width: fit-content;
border-radius: 1rem;
}